@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: rgb(223, 101, 101);
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
    color: rgb(250, 248, 248);
    text-decoration: none;
    }
  }

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    }
/* form */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  }
  input {
  height: auto !important;
  }



h2, h2 {
  text-align: center;
}

.button_to {
  width: 60px;
}
