%h1 Mark
.row
  .col-md-6.col-md-offset-3
    = form_for @lab_report, local: true do |f|
      = f.label :grade
      = f.select :grade, ["A","B", "C", "D", "E", "FX", "F"]
      - @lab_report.errors.full_messages_for(:title).each do |message|
        %div= message
      = f.submit "mark lab report", class: "btn btn-primary"