%body
%h1 Welcome to Lab Application!
= link_to "new lab report", new_lab_report_path, class: 'btn btn-warning'
%p
  - @lab_reports.each do |object|
    %h4 #{object.title}
    = object.description
    = button_to "Delete", lab_report_path(object.id), method: :delete, class: 'btn btn-link'
    = link_to "Mark", edit_lab_report_path(object), class: 'btn btn-link'


