%h1 Create new lab report
.row
  .col-md-6.col-md-offset-3
    = form_for @lab_report do |f|
      = f.label :title
      = f.text_field :title
      - @lab_report.errors.full_messages_for(:title).each do |message|
        %div= message

      = f.label :description
      = f.text_field :description
      - @lab_report.errors.full_messages_for(:description).each do |message|
        %div= message

      = f.label :user_id
      = f.collection_select(:user_id, User.all, :id, :email, :prompt => true)

      - @lab_report.errors.full_messages_for(:email).each do |message|
        %div= message
      = f.submit "Create lab report", class: "btn btn-primary"
